/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2020, 8:33:03 PM
    Author     : ssit5
*/
.default-color1.chart-symbol {
    -fx-shape: "M 1 0 A 1 1 0 1 1 1 2 A 1 1 0 1 1 1 0 ";
    -fx-background-radius: 1px;
    -fx-background-color: rgba(17,71,171,.3);
}
